.feature-description {
    .title {
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        height: 20px;
        letter-spacing: 0px;
        color: #1A1A1A;
        margin-bottom: 12px;
    }
    .description {
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
        
        letter-spacing: 0px;
        color: #808080;
    }
}