.workspace {
    margin: 0 auto;
    width: 188px;
    height: 59px;
    border-radius: 8px;
    background-color: #FFFFFF;
    margin-bottom: 24px;
    padding: 12px 16px;
   

}
.workspace-namespace-title {
    color: #1A1A1A;
    width: 40px;
    height: 14px;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
}
.workspace-list {
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    border: none
}
.title {
    font-size: 20px;
    // color: #0D0D0D;
    height: 24px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 14px;
}