.header p {
    text-align: center;
}

.apptitle {
    font-size: 2.5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.appdescription {
    font-size: 1.1rem;
    margin: 1rem;
}

.avatar {
    height: 36px;
    width: 36px;
    padding: 6px;
    background: #fafafa;
    border-radius: 4px;
    border: 1px solid #dedede;
}

.link {
    font-weight: 500;
}

.cloudform {
    width: 100%;
    position: relative;
}

.textarea {
    position: relative;
    resize: none;
    font-size: 1.1rem;
    padding: 1rem 2rem 1rem 2rem;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #dedede;
    outline: none;
}

.textarea:disabled {
    opacity: 0.5;
}

.textarea::placeholder {
    color: #5f6368;
}

.generatebutton {
    position: absolute;
    top: 5px;
    right: 1rem;
    color: rgb(165, 162, 162);
    background: none;
    padding: 0.3rem;
    border: none;
    display: flex;
}

.loadingwheel {
    position: absolute;
    right: 0.25rem;
}

.svgicon {
    transform: rotate(90deg);
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
}

.generatebutton:hover {
    background: #1f2227;
    border-radius: 0.2rem;
}

.generatebutton:disabled {
    opacity: 0.9;
    cursor: not-allowed;
    background: none;
}

.messagelist {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    border-radius: 0.5rem;
}

.messagelist::-webkit-scrollbar {
    display: none;
}

// .messagelist img {
//     height: 30px;
//     width: 30px;
// }

.messagelistloading {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
}

.usermessage, .usermessagewaiting {
    padding: 0 4px;
    margin-top: 48px;
    margin-bottom: 48px
}



@keyframes loading-gradient {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

.apimessage {
    padding: 0 4px;
    color: #000;
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.apimessage,
.usermessage,
.usermessagewaiting {
    display: flex;
    flex-direction: column;
    color: #303030;
}

.usermessage,
.usermessagewaiting {
    align-items: flex-end;
}

.markdownanswer {
    box-sizing: border-box;
    max-width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #eee;
    padding: 10px;
    font-size: 14px;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
    word-break: break-word;
    border: var(--border-in-light);
    position: relative;
    p {
        margin: 0;
    }
}

.markdownanswer a:hover {
    opacity: 0.8;
}

.markdownanswer a {
    color: #16bed7;
    font-weight: 500;
}

.markdownanswer code {
    color: #303030;
    font-weight: 500;
    white-space: pre-wrap !important;
}

.markdownanswer ol,
.markdownanswer ul {
    margin: 1rem;
}

.boticon {
    margin: 1rem 1rem 0.5rem 0;
}

.usericon {
    margin: 1rem 0rem 0.5rem 1rem;
}

.boticon,
.usericon {
    padding: 0.2rem;
    border-radius: 0.1rem;
    background: #fafafa;
    border-radius: 4px;
    border: 1px solid #dedede;
}

.markdownanswer h1,
.markdownanswer h2,
.markdownanswer h3 {
    font-size: inherit;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 2rem;
    flex-direction: column;
}

.cloud {
    margin-top: 12px;
    width: 100%;
    height: calc(100vh - 270px);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pointsnormal {
    width: 90%;
    height: 90%;
}

.pointsdim {
    width: 90%;
    height: 90%;
    opacity: 0.25;
}

.footer {
    color: #5f6368;
    font-size: 0.8rem;
    margin: 1.5rem;
}

.footer a {
    font-weight: 500;
    color: #7a7d81;
}

.footer a:hover {
    opacity: 0.8;
}

.code-container {
    position: relative;

    .copy-btn {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        border-radius: 4px;
        border: 1px solid #dedede;
        color: #fafafa;
        padding: 2px;
        font-size: 12px;
        animation: fadein 0.5s;
    }
}

.feedback-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8rem;
    color: #303030;
    padding-top: 6px;
}

.chat-container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}