body {
    background-color: #F6F7F9 !important;
    overflow: hidden;
}
.mantine-AppShell-main {
    padding-top: 0;
}
.page-container {
    height: 100%;
    overflow-y: auto;
    padding-left: 32px;
    padding-right: 32px;
}

.content-container {
    height: calc(100vh - 120px);
    overflow-y: auto;
}

.content-container::-webkit-scrollbar {
    display: none;
}
.language-shell {
    word-wrap: break-word;
    white-space: normal !important;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}